<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Teste Kaffa</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--Font Awesomw-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        margin-top: 30px;
      }

      .task-list {
          padding-bottom: 10px;
      }

      .task {
          cursor: pointer;
          user-select: none;
      }
      .done {
          text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <div id="app">

            <!--QUESTION 1-->
            
            <div class="jumbotron">
                <h3>1 - Validate CNPJ format (Mask)</h3>
                <hr class="my-4" />
                <input
                    class="form-control"
                    type="text"
                    placeholder="CNPJ"
                    v-model="cnpj"
                />
                <small id="emailHelp" class="form-text text-muted">"00.000.000/0000-00" ou "00000000000000". Example valid: "55.467.036/0001-71"</small>
                <br />
                <p v-if="errors.length">
                    <div v-for="error in errors">
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    </div>            
                </p>          
            </div>                
        
            <!--QUESTION 2-->
            
            <div class="jumbotron">
                <h3>2 - Validate CNPJ digits</h3>
                <hr class="my-4" />      
                {{cnpj}}                  
                <p v-if="errors_digits.length">
                    <div v-for="error in errors_digits">
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    </div>            
                </p>
                
                <p v-if="success_digits.length">
                    <div v-for="success in success_digits">
                        <div class="alert alert-success" role="alert">
                            {{ success }}
                        </div>
                    </div>            
                </p>
            </div>

            <!--QUESTION 3-->
            <div class="jumbotron">
                <h3>3 - Test if two rectangles intersect</h3>
                <hr class="my-4" />
                <div class="row">
                    <div class="col-1">
                        <label for="left" class="col-form-label">RectA:</label>
                      </div>
                    <div class="col-2">
                      <input type="text" id="left1" class="form-control" placeholder="Left" v-model="rectA[0][0]">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" placeholder="Top" v-model="rectA[0][1]">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="Right" v-model="rectA[1][0]">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="Bottom" v-model="rectA[1][1]">
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-1">
                        <label for="left" class="col-form-label">RectB:</label>
                      </div>
                    <div class="col-2">
                      <input type="text" id="left2" class="form-control" placeholder="Left" v-model="rectB[0][0]">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" placeholder="Top" v-model="rectB[0][1]">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="Right" v-model="rectB[1][0]">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="Bottom" v-model="rectB[1][1]">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-9" v-if="intersects(rectA, rectB)">
                        <div class="alert alert-success" role="alert">
                            {{messageIntersects}}
                        </div>
                    </div>
                    <div class="col-9" v-if="!intersects(rectA, rectB)">
                        <div class="alert alert-danger" role="alert">
                            {{messageIntersects}}
                        </div>
                    </div>
                </div>
                
                
            </div>

            <!--QUESTION 4-->

            <div class="jumbotron">
                <h3>4 - Compute area of intersection between two rectangles</h3>
                <hr class="my-4" />                
                <div class="alert alert-warning" role="alert">
                    Rectangle area above: {{areaIntersects}}
                </div>
                
            </div>

            <!--QUESTION 5-->

            <div class="jumbotron">
                <h3>5 - Simple Todo List</h3>
                <hr class="my-4" />  
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-describedby="messageError" placeholder="Type task here" v-model="nameTask" @keydown.enter="addTask" aria-describedby="button-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-secondary" @click="addTask" type="button" id="button-addon2">Add</button>
                        </div>                        
                    </div>
                    <p style="color: brown;" v-if="taskExists">Task already exists...</p>
                </div>
                <hr />
                <div v-if="tasks.length">
                    <div class="task-list" v-for="(task, i) in tasks" :key="task.name">                        
                        <div class="col-6">
                            <div class="d-flex text-white mb-2" :class="stateClass(task)">
                                <div class="p-2 task" @click="toggleTask(i)">{{task.name}}</div>
                                <button class="ml-auto p-2 btn btn-danger" @click="removeTask(i)" type="button" id="button-addon2"><i class="fas fa-trash-alt"></i></button>
                            </div>                            
                        </div>
                    </div>
                </div>
                
                <div v-else>
                    <p>No tasks</p>
                </div>
            </div>

            <!--QUESTION 6-->

            <div class="jumbotron">
                <h3>6 - Rest Client - World Clock</h3>
                <hr class="my-4" />
                <div class="alert alert-warning text-center" role="alert">
                    <div v-if="errored">
                        <b>Sorry, a problem happened</b>
                    </div>
                    <div v-else>
                        <b v-if="loading">Loading...</b>
                        <b v-else>{{format_date(currentDateTime)}}</b>
                    </div>
                    
                </div>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" @click="refreshDateTime">Refresh</button>
                </div>
                
            </div>

             <!--QUESTION 7-->

             <div class="jumbotron">
                <h3>7 - Rest Server - World Clock</h3>
                <hr class="my-4" />      
                <p>Click on the link below</p>
                <a href="https://api-test-kaffa.herokuapp.com/date/now" target="_blank">https://api-test-kaffa.herokuapp.com/date/now</a>
            </div>            

        </div>
    </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>
