<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Teste Kaffa</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--Font Awesomw-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      body {
        margin-top: 30px;
      }

      .task-list {
          padding-bottom: 10px;
      }

      .task {
          cursor: pointer;
          user-select: none;
      }
      .done {
          text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <div id="app">

            <!--QUESTION 1-->
            
            <div class="jumbotron">
                <h3>1 - Validate CNPJ format (Mask)</h3>
                <hr class="my-4" />
                <input
                    class="form-control"
                    type="text"
                    placeholder="CNPJ"
                    v-model="cnpj"
                />
                <small id="emailHelp" class="form-text text-muted">"00.000.000/0000-00" ou "00000000000000"</small>
                <br />
                <p v-if="errors.length">
                    <div v-for="error in errors">
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    </div>            
                </p>          
            </div>                
        
            <!--QUESTION 2-->
            
            <div class="jumbotron">
                <h3>2 - Validate CNPJ digits</h3>
                <hr class="my-4" />      
                {{cnpj}}                  
                <p v-if="errors_digits.length">
                    <div v-for="error in errors_digits">
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    </div>            
                </p>
                
                <p v-if="success_digits.length">
                    <div v-for="success in success_digits">
                        <div class="alert alert-success" role="alert">
                            {{ success }}
                        </div>
                    </div>            
                </p>
            </div>

            <!--QUESTION 3-->
            <div class="jumbotron">
                <h3>3 - Test if two rectangles intersect</h3>
                <hr class="my-4" />
                <div class="row">
                    <div class="col-1">
                        <label for="left" class="col-form-label">RectA:</label>
                      </div>
                    <div class="col-2">
                      <input type="text" id="left1" class="form-control" placeholder="Left" v-model="rectA.left">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" placeholder="Top" v-model="rectA.top">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="Right" v-model="rectA.right">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="Bottom" v-model="rectA.bottom">
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-1">
                        <label for="left" class="col-form-label">RectB:</label>
                      </div>
                    <div class="col-2">
                      <input type="text" id="left2" class="form-control" placeholder="Left" v-model="rectB.left">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" placeholder="Top" v-model="rectB.top">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="Right" v-model="rectB.right">
                    </div>
                    <div class="col-2">
                        <input type="text" class="form-control" placeholder="Bottom" v-model="rectB.bottom">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-9" v-if="intersects(rectA, rectB)">
                        <div class="alert alert-success" role="alert">
                            {{messageIntersects}}
                        </div>
                    </div>
                    <div class="col-9" v-if="!intersects(rectA, rectB)">
                        <div class="alert alert-danger" role="alert">
                            {{messageIntersects}}
                        </div>
                    </div>
                </div>
                
            </div>

            <!--QUESTION 4-->

            <div class="jumbotron">
                <h3>4 - Compute area of intersection between two rectangles</h3>
                <hr class="my-4" />      
                
            </div>

            <!--QUESTION 5-->

            <div class="jumbotron">
                <h3>5 - Simple Todo List</h3>
                <hr class="my-4" />  
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" aria-describedby="messageError" placeholder="Task" v-model="nameTask" @keydown.enter="addTask" aria-describedby="button-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-secondary" @click="addTask" type="button" id="button-addon2">Add</button>
                        </div>                        
                    </div>
                </div>  
                <hr />
                
                <div v-if="tasks.length">
                    <div class="task-list" v-for="(task, i) in tasks" :key="task.name">                        
                        <div class="col-6">
                            <div class="d-flex text-white mb-2" :class="stateClass(task)">
                                <div class="p-2 task" @click="toggleTask(i)">{{task.name}}</div>
                                <button class="ml-auto p-2 btn btn-danger" @click="removeTask(i)" type="button" id="button-addon2"><i class="fas fa-trash-alt"></i></button>
                            </div>                            
                        </div>
                        
                    </div>
                    
                </div>
                
                <div v-else>
                    <p>No tasks</p>
                </div>        
                  
                
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>    
    <script>
      var app = new Vue({
        el: "#app",
        data: {
            cnpj: "",
            errors: [],
            errors_digits: [],
            success: [],
            success_digits: [],
            messageTasks: "",
            rectA: {
                left: 3, // xmin
                top: 5, // ymin
                right: 11, // xmax
                bottom: 11 // ymax
            },
            rectB: {
                left: 7,
                top: 2,
                right: 13,
                bottom: 7
            },
            messageIntersects: "",
            nameTask: "",
            tasks: [
                {name: 'Lavar louça', pending: false},
                {name: 'Pagar conta de luz', pending: true}
            ]
        },
        watch: {
            cnpj: function(val) {
                this.clearMessages();
                if (val.length > 0) {
                    if (!this.validCNPJ(val)) {
                        this.errors.push("Invalid CNPJ format");
                    } else {
                        this.success.push('Format OK');
                    }
                    
                    if (!this.validDigits(val)) { 
                        this.errors_digits.push("Invalid CNPJ digit");
                    } else {
                        this.success_digits.push('Digit OK');
                    }
                } else {
                    this.clearMessages();
                }
            },
        },
        methods: {     
            stateClass: function(task) {
                return {
                    pending: task.pending,
                    'bg-primary': task.pending,
                    'bg-success': !task.pending,
                    done: !task.pending,
                }
            },
            // add task
            addTask: function() {                
                console.log(this.nameTask);
                const taskNew = this.tasks.filter(task => task.name.toLowerCase() == this.nameTask.toLowerCase()).length == 0;
                if (taskNew) {
                    this.tasks.push({
                        name: this.nameTask,
                        pending: true
                    });
                    this.nameTask = '';
                }
                
            },

            //delete task
            removeTask: function(i) {                
                this.tasks.splice(i, 1);
            },

            // task done
            toggleTask: function(i) {                
                this.tasks[i].pending = !this.tasks[i].pending;
            },

            // check intersection
            intersects: function(a, b) {
                if (Math.max(a.left, b.left) < Math.min(a.right, b.right) && Math.max(a.top, b.top) < Math.min(a.bottom, b.bottom)) {
                    this.messageIntersects = 'Intersetcs RectA x RectB is true';
                    return true;
                } else {
                    this.messageIntersects = 'Intersetcs RectA x RectB is false';
                    return false;
                }

                
            },
            // clear messages
            clearMessages: function() {
                this.errors = [];
                this.errors_digits = [];
                this.success = [];
                this.success_digits = [];
            },
            // validate CNPJ format only
            validCNPJ: function (cnpj) {
                var re_cnpj_formated = /^\d{2}\.\d{3}\.\d{3}\/\d{4}\-\d{2}$/;
                var re_cnpj_number_only = /^\d{14}$/;
                if (re_cnpj_formated.test(cnpj) || re_cnpj_number_only.test(cnpj)) {
                    return true;
                } else {
                    return false;
                }
                    
            },
            // check digits
            validDigits: function (cnpj) {
                if (cnpj.length == 0) return false;
                // clear string
                cnpj = cnpj.replace(/\D/g,'');
                            
                // Eliminates known invalid CNPJs
                if (cnpj == "00000000000000" || 
                    cnpj == "11111111111111" || 
                    cnpj == "22222222222222" || 
                    cnpj == "33333333333333" || 
                    cnpj == "44444444444444" || 
                    cnpj == "55555555555555" || 
                    cnpj == "66666666666666" || 
                    cnpj == "77777777777777" || 
                    cnpj == "88888888888888" || 
                    cnpj == "99999999999999")
                    return false;
                    
                // Check DVs
                vsize = cnpj.length - 2
                vnumber = cnpj.substring(0,vsize);
                vdigits = cnpj.substring(vsize);
                vsum = 0;
                pos = vsize - 7;
                for (i = vsize; i >= 1; i--) {
                vsum += vnumber.charAt(vsize - i) * pos--;
                if (pos < 2)
                        pos = 9;
                }
                vresult = vsum % 11 < 2 ? 0 : 11 - vsum % 11;
                if (vresult != vdigits.charAt(0))
                    return false;
                    
                vsize = vsize + 1;
                vnumber = cnpj.substring(0,vsize);
                vsum = 0;
                pos = vsize - 7;
                for (i = vsize; i >= 1; i--) {
                vsum += vnumber.charAt(vsize - i) * pos--;
                if (pos < 2)
                        pos = 9;
                }
                vresult = vsum % 11 < 2 ? 0 : 11 - vsum % 11;
                if (vresult != vdigits.charAt(1))
                    return false;
                    
                return true;
                
            },
        },
      });
    </script>
  </body>
</html>
